/* .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
} */

.modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalContent {
    background-color: #111;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    color: #fff;
    box-sizing: border-box;
}


.modalForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalForm label {
    display: flex;
    flex-direction: column;
    color: #00ff66;
}

.modalForm input {
    margin-top: 1px;
    padding: 0.5rem;
    background-color: #0d0d0d;
    /* negro suave */

    outline: none;
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
}

.modalForm input:hover {
    border: 2px solid #00cc55;
}

.modalForm textarea {
    margin-top: 1px;
    padding: 0.5rem;
    background-color: #0d0d0d;
    /* negro suave */

    outline: none;
    color: white;
    border-radius: 8px;
    transition: border 0.2s ease;
    border: 2px solid transparent;
}

.modalForm textarea:hover {
    border: 2px solid #00cc55;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.modalButtons button {
    background-color: #00ff66;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.modalButtons button:hover {
    background-color: #00cc55;
}

.profileImageWrapper {
    text-align: center;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #00ff66;
}

.imageHint {
    font-size: 0.85rem;
    color: #888;
    margin-top: 0.5rem;
    display: block;
}

.hiddenInput {
    display: none;
}

.textarea {
    padding: 0.5rem;
    background-color: #111;
    border: 1px solid #00ff66;
    outline: none;
    color: white;
    border-radius: 8px;
    resize: vertical;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.textarea:hover {
    border-color: #00cc55;
}

@media (max-width: 1275px) {
    .modalContent {
        margin-left: 100px;
    }
}

@media (max-width: 1100px) {
    .modalContent {
        margin-left: 130px;
    }
}

@media (max-width: 965px) {
    .modalContent {
        margin-left: 180px;
    }
}

@media (max-width: 960px) {
    .modalContent {
        margin-left: 0px;
    }
}

@media (max-width: 715px) {
    .modalContent {
        margin-left: 60px;
    }

    .modalContent {
        padding: 1rem;
        border-radius: 12px;
        width: 60%;
        max-width: 500px;
        color: #fff;
        box-sizing: border-box;
    }


}

@media (max-width: 415px) {
    .modalContent {
        margin-left: 0px;
    }

    .modalContent {
        width: 80%;
    }
}
