/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.container {
    background: white;
    width: 380px;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #222;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 14px;
    color: #555;
}

input {
    padding: 12px 15px;
    margin-bottom: 18px;
    border: 1.8px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #000dff;
    outline: none;
    box-shadow: 0 0 6px #000dff88;
}

button {
    background: #000dff;
    color: white;
    padding: 14px 0;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #3a47ff;
}

.footer-text {
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
    color: #555;
}

.footer-text a {
    color: #000dff;
    text-decoration: none;
    font-weight: 600;
}

.footer-text a:hover {
    text-decoration: underline;
}